<div class="alert alert-success">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</div>

<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

<ul>
  <div class="tweet">
    <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.submit "ログイン" %>
    </li>
    
<% end %>