<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
      <p>エラー！</p>
      <p>つぶやきが空っぽ、または文字数オーバーです。</p>
      <p>140文字以内でつぶやいてください。</p>
      </div>
    </div>
  <% end %>
  
<ul>
  <li>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>
  </li>
  <div class="tweet">
  <li>
    <%= form.text_field :content %>
  </div>
  </li>
  <li>
  <%= form.submit "つぶやく" %>
  </li>
</ul> 
  
<% end %>

<%= link_to "つぶやきリスト", blogs_path %>