<!DOCTYPE html>
<html>
<div class="alert alert-success"><%= notice %></div>

<header class="header">つぶやきリスト</header>

<article>
  <div class="contents">
    <ul class="row">
      <% @blogs.each do |blog| %>
        <li class="col-md-6">
          <%= blog.content %>
          <br>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><%= link_to '詳細', blog_path(blog.id) %></button>
            <button type="button" class="btn btn-default"><%= link_to '編集', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' }%></button>
            <button type="button" class="btn btn-default"><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</article>
</html>